<!DOCTYPE html>
<html lang="ru_RU">
  <head>
    <meta charset="UTF-8">
    <title>Переводчик</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="logo">
          {{logo}}
        </div>
        <hr>
      </header>
      <div class="wrapper">
        <div class="left_c">
          <div class="title"><h1>Переводчик</h1></div>
          <form>
              <input type="text" v-model="word" placeholder="Введите слово">
          </form>
            <button v-on:click="getTranslate">Перевести</button>
            <br>
            <br>
             {{ translate }}
        </div>
        <div class="content">
          <div class="title">
            <h1>Словарь</h1>
          </div>
          <div class="add_new_translation">
            <div class="flex">
                <form>
                    <input type="text" v-model="word_to_add" placeholder="Введите слово">
        	    </form>
                    <button v-on:click="addWord">Добавить слово</button> {{ result_add_word }}
            </div>
            <hr>
            <div class="flex">
        	   <form>
                 <input type="text" v-model="word_of_added_translation" placeholder="Введите слово">
                 <input type="text" v-model="translation_to_add" placeholder="Введите перевод">
        	    </form>
                <button v-on:click="addTranslation">Добавить перевод</button>{{ result_add_translation }}
            </div>
          </div>
          <br>
          <table align="center">
            <thead>
              <th>
                Слово
              </th>
              <th>
                Перевод
              </th>
            </thead>
            <tbody>
              <tr>
                <td>Apple</td>
                <td>Яблоко</td>
              </tr>
            </tbody>
            <tfoot></tfoot>
            </table>
        </div>
      </div>
      <footer>
        <p>
          Zufar 2019
        </p>
      </footer>
    </div>
  </body>
</html>
